.Li{
    list-style: none;
    /* border: 1px solid black; */
    margin: 0;
    /* width: 100%; */
    padding: 5px;
    border: 1px solid black;
}

.Li:hover{
    background-color: rgb(190, 186, 186);
}